*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.containerApp{
  width: 100%;
  min-height: 100dvh;
  background-color: #f5f5f5;
}